## Tutorial Topic 1 and Topic 2

Author: bedezub

Question 1

In [3]:
data <- c(24, 45, 61, 51, 82)

mean of data

In [4]:
average_data <- mean(data)

In [5]:
average_data

[1] 52.6

fourth position

In [6]:
data[4]

[1] 51

combine two dataset

In [9]:
z <- c("A", "B", "B", "D", "M")

In [21]:
data_bb <- cbind(data, z)

In [22]:
data_bb

     data z
[1,] 24   A
[2,] 45   B
[3,] 61   B
[4,] 51   D
[5,] 82   M

In [23]:
summary(data)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   24.0    45.0    51.0    52.6    61.0    82.0

Question 2

In [33]:
mon <- c(100, 300, 220, 100)
tue <- c(30, 20, 90, 20)
wed <- c(40, 30, 100, 200)
thu <- c(20, 20, 10, 20)
fri <- c(100, 150, 70, 90)

In [34]:
total_sales <- rbind(mon, tue, wed, thu, fri)

In [35]:
total_sales

    [,1] [,2] [,3] [,4]
mon 100  300  220  100
tue  30   20   90   20
wed  40   30  100  200
thu  20   20   10   20
fri 100  150   70   90

In [38]:
colnames(total_sales) <- c("week 1", "week 2", "week 3", "week 4")

In [39]:
total_sales

    week 1 week 2 week 3 week 4
mon 100    300    220    100
tue  30     20     90     20
wed  40     30    100    200
thu  20     20     10     20
fri 100    150     70     90

In [45]:
colSums(total_sales)

week 1 week 2 week 3 week 4
   290    520    490    430

Question 3

In [46]:
height <- matrix(cbind(175, 165, 150, 155, 168, 153, 165, 177, 180, 164, 150))
weight <- matrix(cbind(80, 85, 50, 55, 63, 45, 74, 90, 86, 74, 53))
hours <- matrix(cbind(8, 7, 12, 10, 9, 7, 6, 7, 8, 8, 11))

In [47]:
bmi_df <- data.frame(
height,
weight,
hours,
bmi = round((weight / (((height / 100) ^ 2))), 4))

In [48]:
bmi_df

   height weight hours bmi
1  175    80      8    26.1224
2  165    85      7    31.2213
3  150    50     12    22.2222
4  155    55     10    22.8928
5  168    63      9    22.3214
6  153    45      7    19.2234
7  165    74      6    27.1809
8  177    90      7    28.7274
9  180    86      8    26.5432
10 164    74      8    27.5134
11 150    53     11    23.5556