# Module 1 | Basics R

## The true basics

In [2]:
# Arithmetic operation in R
1 + 2

[1] 3

In [3]:
# String in R
"Hello world in R"

[1] "Hello world in R"

In [5]:
# Variable assignment
height <- 2
height

[1] 2

In [8]:
width <- 2
width

[1] 2

## Basic data type

In [7]:
# View all variable created. Pretty neat tho.
ls()

[1] "height"

In [9]:
area <- width * height
area

[1] 4

In [11]:
# Boolean expression, type Logical. TRUE and False
TRUE
class(TRUE)

[1] TRUE

[1] "logical"

In [12]:
is.numeric(2)

[1] TRUE

In [13]:
is.numeric(2L) # 2L datatype integer

[1] TRUE

In [14]:
is.integer(2) # 2 datatype numeric (double), default dekat R

[1] FALSE

In [15]:
# Coercion - Convert datatype :)
as.numeric(TRUE)

[1] 1

In [16]:
as.numeric(FALSE)

[1] 0

In [17]:
as.character(4)

[1] "4"

In [18]:
as.numeric("4.5")

[1] 4.5

In [19]:
# Array. R panggil vector
num = c(11, 12, 13, 14, 15)
num

[1] 11 12 13 14 15

In [22]:
# Dictionary? 
numList = c(spades = 11, hearts = 12, diamonds = 13, clubs = 14)
numList

  spades   hearts diamonds    clubs
      11       12       13       14

In [23]:
str(numList)

 Named num [1:4] 11 12 13 14
 - attr(*, "names")= chr [1:4] "spades" "hearts" "diamonds" "clubs"

In [24]:
# Vector arthimethic
sales <- c(100, 80, 90)
sales

[1] 100  80  90

In [25]:
sales + 10

[1] 110  90 100

In [26]:
# Subsetting vector. Cool stuff
cards <- c(spades = 11, hearts = 12, diamonds = 13, clubs = 14)

In [28]:
# Call one subset
cards["spades"]     # Call by name
cards[2]            # Call by element. Index start with 1

spades
    11

hearts
    12

In [30]:
# Call multiple element
cards[c(1,4)]       # Call only element
cards[-1]           # Magic! Call all only one

spades  clubs
    11     14

  hearts diamonds    clubs
      12       13       14